.ghe {
  color: white;
  background-color: lightcoral;
  border: none;
  width: 41px;
  margin: 4px;
}

.gheDaDat {
  background-color: lightpink;
  cursor: no-drop;
}

.gheDangChon {
  background-color: black;
}